body{
    background-color: antiquewhite;
}

h1{
    justify-content: center;
    text-align: center;
}
.main{
    position: relative;
    background-color: aquamarine;
    width: 60%;
    left: 20%;
}
.buttons{
    position: relative;
    top: -10px;
    left: 20px;
}
.tipo1{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 65%;
    background-color: #303952;
    border-radius: 10px;
    z-index: 9999;
    color: white;
    text-align: center; 
}
.tipo2{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 65%;
    background-color: #e2d40c;
    border-radius: 10px;
    z-index: 9999;
    color: white;
    text-align: center; 
}
input {
    text-overflow: ellipsis;
    margin: 0;
    overflow: hidden;
    display: block;
    width: 60%;
    margin-left: 17%;
    margin-bottom: 2%;
    padding: 3px 12px;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    transition: all .15s;
    cursor: pointer;
    
  }
  
  input::-webkit-file-upload-button {
    padding: 4px 8px;
    margin: -4px -12px;
    margin-inline-end: 8px;
    border: none;
    height: 32px;
    cursor: pointer;
  }
  button {
    display: inline-block;
    height: 6%;
    width: 10%;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color .2s linear;
  }
  
  button::before,
  button::after {
    content: "";
    position: absolute;
    z-index: -1;
  }
  
  button:hover {
    color: white;
  }
  